body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif; 
    color: #ffffff;
}

.header img {
    display: block; 
    width: 318px; 
    margin-left: auto; 
    margin-right: auto;
}

.article .header img {
    display: inline-block;
    margin-left: 20px;
}

.header a {
    color: #ffffff;
    float: right;
}

.archive {
    width: 960px; 
    margin-left: auto;
    margin-right: auto;
}

.post-title a {
    color: #ffffff;
}

.article-author { 
    width: 50%; 
    float: left;
}

.article-created-date { 
    text-align: right;
    font-style: italic;
}

.content {
    width: 960px;
    margin: auto;
}

form > * {
    display: block;
    width: 60%;
    margin: 20px auto;
}

textarea {
    height: 200px;
}

.error {
    color: red;
}